# Ignore build outputs
bin/
obj/
obj/Debug/net8.0-windows


# Ignore user-specific files
*.user
*.suo
*.log

# Ignore lock files and other build artifacts
project.lock.json
project.fragment.lock.json
